{
  "dataPath": "C:\\Users\\YOUR-USERNAME\\AppData\\Local\\Programs\\FoundryVTT",
  "manifest": "src",
  "repository": "https://github.com/michaelkimball/card-decks",
  "rawURL": "https://github.com/michaelkimball/card-decks/-/raw"
}
